<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--邮件发送配置 系统管理邮件地址，若需要给每个登录用户配置邮箱地址，则需要获取登录用户账号密码再建立邮件通信-->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.exmail.qq.com"/>
        <property name="username" value="yinhaiquan@juzix.io"/>
        <property name="password" value="yhq123456"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
            </props>
        </property>
    </bean>

    <!--配置发送邮件模板-->
    <bean id="freeMarkerConfiguer"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!-- 模板路径位置 -->
        <property name="templateLoaderPaths" value="classpath:template/"/>
        <property name="freemarkerSettings">
            <props>
                <!-- 模板更新延时 -->
                <prop key="template_update_delay">1800</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="locale">zh_CN</prop>
            </props>
        </property>
    </bean>

    <!--邮件组件对外接口-->
    <bean id="mailHandler" class="hq.com.email.server.send.TemplateMailSendHandler">
        <property name="sender" ref="mailSender"/>
        <property name="freeMarkerConfigurer" ref="freeMarkerConfiguer"/>
    </bean>

<!--测试使用 生产环境删除-->
    <bean id="asyncEventSource" class="hq.com.aop.concurrency.impl.AsyncEventSourceImpl">
        <property name="taskExecutor" ref="taskExecutor"/>
    </bean>
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 线程池活跃的线程数 -->
        <property name="corePoolSize" value="30"/>
        <!-- 线程池最大活跃的线程数 -->
        <property name="maxPoolSize" value="300"/>
        <!-- 队列的最大容量 -->
        <property name="queueCapacity" value="125"/>
        <!-- 线程池维护线程所允许的空闲时间 -->
        <property name="keepAliveSeconds" value="300"/>
    </bean>
    <!--测试使用 生产环境删除-->
</beans>